importing pandas

In [2]:
import pandas as pd

data series

#a List is a built-in, general-purpose data structure, while a Series is a specialized object from the Pandas library designed for data analysis

In [3]:
lst=[1,2,3,4]
print(lst)
print(type(lst))
s=pd.Series([1,2,3,4])
print(s)
print(type(s))

[1, 2, 3, 4]
<class 'list'>
0    1
1    2
2    3
3    4
dtype: int64
<class 'pandas.core.series.Series'>

#Avoid adding items one by one inside a loop. Each time you "append" to a Series, Pandas creates a full copy of the data in memory.

In [4]:
s2 = pd.Series([], dtype='float64')
s2.at['a'] = 0
print(s2)
s3=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(s3)
s4=pd.concat([s2,s3])
print(s4)
a=pd.Series(['p','q','r','s'],index=[11,12,13,14])
print(a)

a    0
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64
a    0
a    1
b    2
c    3
d    4
dtype: int64
11    p
12    q
13    r
14    s
dtype: object

#pandas functions

In [5]:
scaler_series=pd.Series(0.5)
print(scaler_series)
b=pd.Series(0.5,index=[1,2,3,4])
print(b)
c=pd.Series({10:'p',20:'q',30:'r'})
print(c)
s5=pd.Series({2:['a','b','c'],3:['d','e','f']})
print(s5)

0    0.5
dtype: float64
1    0.5
2    0.5
3    0.5
4    0.5
dtype: float64
10    p
20    q
30    r
dtype: object
2    [a, b, c]
3    [d, e, f]
dtype: object

#accessing elements / Slicing

In [6]:
print(c[10]) # c.loc[10]=c[10]
print(c[10:30])
print(max(c))
print(s3[s3%3==0])

p
Series([], dtype: object)
r
c    3
dtype: int64

#**Data Frames**

In [50]:
import numpy as np

In [66]:
data = np.random.randint(1, 100, size=(10, 10))

# Naming columns C1, C2... C10 and rows R1, R2... R10
dataf = pd.DataFrame(data,
                  columns=[f'C{i}' for i in range(1, 11)],
                  index=[f'R{i}' for i in range(1, 11)])

print(dataf)

     C1  C2  C3  C4  C5  C6  C7  C8  C9  C10
R1   63  93  79  71  79  35  51  82  80   87
R2   33  82  26  56  26  68  92  16  66   28
R3   18  67  43  82  24  87  35  12  62   28
R4   16  63  34  17  16  81  20  29  91   81
R5   61  67  41   1   9  28  34  47  45   15
R6   90  81  43  23  84  77  12  40  45   71
R7   30  12  19   5  72  21  18  32  56   26
R8   67  52  15  71  52  39   2  26  53   86
R9   46  76  87  13  38  98  95  15  75   30
R10  91  64  13  28  72  74  91  75  63   26

#Applying operations on above df

In [85]:
print(dataf[dataf['C4']>50])
print(dataf.mean())      # Mean of each column
print(dataf.sum(axis=1)) # Sum of each row
print(dataf.iloc[0:3, 0:5]) #0 to 3 column and 0 to 5 rows
dataf['C2']=dataf['C2']+100
dataf['C1'].rename('First')
print("\nColumn 2: ",dataf.iloc[:, 1:2])
print("\nTop n largest values: ",dataf.nlargest(2,'C3'))
print("\nUnique values: ",dataf['C2'].unique())
print("\nUnique values: ",dataf['C3'].value_counts(normalize=True)) #show percentage values instead of just count

    C1    C2  C3  C4  C5  C6  C7  C8  C9  C10
R1  63  1093  79  71  79  35  51  82  80   87
R2  33  1082  26  56  26  68  92  16  66   28
R3  18  1067  43  82  24  87  35  12  62   28
R8  67  1052  15  71  52  39   2  26  53   86
C1       51.5
C2     1065.7
C3       40.0
C4       36.7
C5       47.2
C6       60.8
C7       45.0
C8       37.4
C9       63.6
C10      47.8
dtype: float64
R1     1720
R2     1493
R3     1458
R4     1448
R5     1348
R6     1566
R7     1291
R8     1463
R9     1573
R10    1597
dtype: int64
    C1    C2  C3  C4  C5
R1  63  1093  79  71  79
R2  33  1082  26  56  26
R3  18  1067  43  82  24

Column 2:         C2
R1   1193
R2   1182
R3   1167
R4   1163
R5   1167
R6   1181
R7   1112
R8   1152
R9   1176
R10  1164

Top n largest values:      C1    C2  C3  C4  C5  C6  C7  C8  C9  C10
R9  46  1176  87  13  38  98  95  15  75   30
R1  63  1193  79  71  79  35  51  82  80   87

Unique values:  [1193 1182 1167 1163 1181 1112 1152 1176 1164]

Unique values:  C3
43    0.2
79    0.1
26    0.1
34    0.1
41    0.1
19    0.1
15    0.1
87    0.1
13    0.1
Name: proportion, dtype: float64

In [7]:
df=pd.DataFrame()
print(df)
df1=pd.DataFrame([1,2,3,4])
print(df1)
lst=([1,2,3,4],[5,6,7,8])
df2=pd.DataFrame(lst)
print(df2)
f3={'Roll no.':pd.Series([1,2,3,4]),
    'Name':pd.Series(["rohan","sohan","mohan","aman"])}
df3=pd.DataFrame(f3)
print(df3)

Empty DataFrame
Columns: []
Index: []
   0
0  1
1  2
2  3
3  4
   0  1  2  3
0  1  2  3  4
1  5  6  7  8
   Roll no.   Name
0         1  rohan
1         2  sohan
2         3  mohan
3         4   aman

#more pandas function

In [48]:
print(df.loc[0])  #give row of entered index
print()
print(df.loc[0:3])

PassengerId                          1
Survived                             0
Pclass                               3
Name           Braund, Mr. Owen Harris
Sex                               male
Age                               22.0
SibSp                                1
Parch                                0
Ticket                       A/5 21171
Fare                              7.25
Embarked                             S
Name: 0, dtype: object

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1

   Parch            Ticket     Fare Embarked
0      0         A/5 21171   7.2500        S
1      0          PC 17599  71.2833        C
2      0  STON/O2. 3101282   7.9250        S
3      0            113803  53.1000        S

#Naming both rows and columns

In [8]:
df4 = pd.DataFrame([[1, 2], [3, 4]], columns=['Price', 'Quantity'])
df4.index = ['Item_A', 'Item_B']
print(df4)
print()
df.index.name = 'Product_ID'
df.columns.name = 'Attributes'
print(df)

        Price  Quantity
Item_A      1         2
Item_B      3         4

Empty DataFrame
Columns: []
Index: []

#Reading CSV (Comma-Separated Values)

Format-> var=pd.read_csv(address_path)

#**you have to upload dataset through drive if using colab**

from google.colab import files
uploaded = files.upload() # Select home_dataset.csv from your computer

import pandas as pd
df = pd.read_csv("home_dataset.csv")



#**If you are using vscode or jupyter notebook you can do**
import pandas as pd
The 'r' tells Python to treat backslashes as literal text
df = pd.read_csv(r"D:\Colab_notebooks\home_dataset.csv")

using data set without uploading through url

In [34]:
import pandas as pd
url = "https://raw.githubusercontent.com/NotAyushXD/Titanic-dataset/refs/heads/master/train.csv"

df = pd.read_csv(url)
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

#**analyze dataset**

In [35]:
print(df.head())  #first five rows
print()
print(df.tail())  #last five rows
print()
print(df.describe()) #desciption of data
print()
print(df.shape)  #dimensions of data
print()
print(df.info())
print()
print("null entries in the dataset: ",df.isnull().sum())
print()
print(df.columns)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

(891, 12)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

null entries in the dataset:  PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

#showing the data of survivors

In [39]:
survivors=df[df['Survived']==1]
print(survivors.head())
print()
print(survivors.value_counts())

   PassengerId  Survived  Pclass  \
1            2         1       1
2            3         1       3
3            4         1       1
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C

PassengerId  Survived  Pclass  Name                                                 Sex     Age   SibSp  Parch  Ticket    Fare     Cabin  Embarked
2            1         1       Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0  1      0      PC 17599  71.2833  C85    C           1
4            1         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)         female  35.0  1      0      113803    53.1000  C123   S           1
11           1         3       Sandstrom, Miss. Marguerite Rut                      female  4.0   1      1      PP 9549   16.7000  G6     S           1
12           1         1       Bonnell, Miss. Elizabeth                             female  58.0  0      0      113783    26.5500  C103   S           1
22           1         2       Beesley, Mr. Lawrence                                male    34.0  0      0      248698    13.0000  D56    S           1
                                                                                                                                                     ..
863          1         1       Swift, Mrs. Frederick Joel (Margaret Welles Barron)  female  48.0  0      0      17466     25.9292  D17    S           1
872          1         1       Beckwith, Mrs. Richard Leonard (Sallie Monypeny)     female  47.0  1      1      11751     52.5542  D35    S           1
880          1         1       Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)        female  56.0  0      1      11767     83.1583  C50    C           1
888          1         1       Graham, Miss. Margaret Edith                         female  19.0  0      0      112053    30.0000  B42    S           1
890          1         1       Behr, Mr. Karl Howell                                male    26.0  0      0      111369    30.0000  C148   C           1
Name: count, Length: 123, dtype: int64

#various data analysis functions

In [43]:
print(df['Fare'].mean())
print()
print(df['Sex'].value_counts())
print()
print("Average age of passegers:",df['Age'].mean())
print("\nSurvival Rate by Gender:")
print(df.groupby('Sex')['Survived'].mean())
print()
print(df.groupby('Sex')['Survived'].value_counts())

32.204207968574636

Sex
male      577
female    314
Name: count, dtype: int64

Average age of passegers: 29.69911764705882

Survival Rate by Gender:
Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

Sex     Survived
female  1           233
        0            81
male    0           468
        1           109
Name: count, dtype: int64

#Handling Missing Values

In [45]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df.drop(columns=['Cabin'], inplace=True)  # drop cabin column (too many null values)